/*
.container {
    display: grid;
    grid-template-columns: 30% 30% 30% 10% ;
    align-items: center; 
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .item {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
  }
  
  .center {
    justify-self: center;
  }
  
  .right {
    justify-self: end;
  }
    */