.scoreboard-table-wrapper {
    max-height: 380px;
    overflow-y: auto;
}

.scoreboard-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
}

.scoreboard-table th, .scoreboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.scoreboard-table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.scoreboard-table tbody tr {
    border: none;
}