.d-grid {
    margin: auto;
}

.btn-secondary-custom-width {
    width: 14px;
}

.dropdown-menu {
    background-color: #e4e4e4;
}

.dropdown-item {
    cursor: pointer;
}

.menu-container {
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
}