<div class="xp-program-dialog">
  <div class="position-relative modal-header xp-program-header">
    <div class="container">
      <h4>Memory-Spiel</h4>
      <div class="item">
        <b>Am Zug ist:</b>
        {{this.gameService.difficultyGetter === 'None' ? 'Spieler' : (isPlayerTurn ? 'Spieler' : 'Bot')}}
      </div>
      <!-- <div class="center"><h5>Highscore: highscore</h5></div>-->
      <div *ngIf=" gameService.difficultyGetter === 'None'  "><h5>Zeit: {{time}}</h5></div> 
    </div>
  
    <div class="position-absolute top-50 end-0 translate-middle-y">
      <button type="button" class="xp-program-btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    </div>
  </div>
  
  <div class="modal-body">
    <app-board></app-board> <!-- Spielfeld anzeigen -->
  </div>
  
  <div class="modal-footer xp-program-footer" >
    <div *ngIf="this.gameService.difficultyGetter !== 'None' "class="container" >
      <b>Aufgedeckte Paare:</b>
      <div class="item">
        Spieler : {{playerPoints}}
      </div>
      <div class="center">
        Bot : {{botPoints}}
      </div>
    </div>
    <div class="d-flex justify-content-between" style=" width: 100%;">
      <div class="" >
        <div *ngIf="gameService.difficultyGetter === 'None'" class="position-absolute botom-0 start-50" >
          <img [src]="currentImage" alt="" class="icon"  (click)="stopResumeTimerBtn()">
        </div> 
        <img style="margin-left: 100px;" src="..\assets\icons\Settings.png" alt="" class="visually-hidden icon "  (click)="closeModal()">
      </div>
      
        <button class="xp-program-btn " (click)="closeModal()">Schließen</button>
    </div>
  </div>
</div>