<div class="menu-container">
  <div class="d-grid gap-2" style="width: 65%">
    <div class="d-grid gap-0" style="width: 100%" *ngIf="!gameService.gameStarted">
      <p style="text-align: center; margin-bottom: 10px;">Wähle einen Spielmodus:</p>
      <div class="col justify-content-center">
        <!-- Wenn noch kein Spieldurchlauf gestartet wurde -->
        <div class="card difficulty-card" (click)="configurePlaythrough('PvB')">
          <div class="card-body text-center">
            <h5 class="card-title xp-header">Spieler vs. Bot</h5>
            <div class="card-text">
              <p>Spiele gegen den Computer und versuche, die meisten Paare zu finden!</p>
              <b>Hinweis:</b>
              <p>Bei den Schwierigkeitsgraden "Mittel" und "Schwer" kann sich der Bot - je nach Kartensatzgröße - eine jeweils unterschiedliche Anzahl an Karten merken.</p>
            </div>
          </div>
        </div>
        <div class="card difficulty-card" (click)="configurePlaythrough('PvT')">
          <div class="card-body text-center">
            <h5 class="card-title xp-header">Spieler vs. Zeit</h5>
            <div class="card-text">
              <p>Versuche, schnellstmöglich alle Paare zu finden und den besten Rang zu erreichen!</p>
              <b>Hinweis:</b>
              <p>Der Timer startet, sobald du die erste Karte zum Umdrehen anklickst. Des weiteren berechnet sich der Rang, den du erhältst, aus deiner benötigten Zeit
                zum Aufdecken aller Paare sowie der deiner gewählten Kartensatzgröße.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-0" style="width: 100%; margin-top: 5px" *ngIf="gameService.gameStarted">
      <!-- Wenn ein Spieldurchlauf bereits gestartet wurde -->
      <button type="button" class="btn xp-btn" (click)="resumeDialog()">Spiel fortsetzen</button>
      <button type="button" class="btn xp-btn" (click)="restartDialog()">Neues Spiel starten</button>
    </div>
    <hr style="margin: 0px; padding: 4px;">
    <button type="button" class="btn xp-btn" (click)="openScoreboard()">Scoreboard</button>
  </div>
</div>