.d-grid {
    margin: auto;
}

.btn-secondary-custom-width {
    width: 14px;
    
    /* background-color: aqua; */
}

.dropdown-item {
    cursor: pointer;
}

.menu-container {
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
}