<div class="menu-container">
  <div class="d-grid gap-2" style="width: 65%">
    <div class="d-grid gap-0" style="width: 100%" *ngIf="!gameService.gameStarted">
      <p style="text-align: center; margin-bottom: 2px;">Wähle einen Spielmodus:</p>
      <div class="btn-group dropend">
        <!-- Wenn noch kein Spieldurchlauf gestartet wurde -->
        <button type="button" class="btn xp-btn" style="width: 90%;" (click)="configurePlaythrough('PvB')"> Spieler vs. Bot </button>
        <!-- <button type="button"
          class="btn-primary-custom-width btn xp-btn dropdown-toggle dropdown-toggle-split "
          data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
          <div style>
            <h5 
            style="text-align: center; 
                    padding: 5px;
                    border-bottom: 1px solid #808080"
            >Schwierigkeitsgrad:</h5>
          </div>
          <li><a 
            class="dropdown-item"
            style="text-align: center;"
            (click)="selectEasy()"
            data-bs-toggle="tooltip"
            title="Der Bot merkt sich keine Karten und deckt zufällig auf."
          >Leicht</a></li>
          <li><a 
            class="dropdown-item"
            style="text-align: center;"
            (click)="selectMedium()"
            data-bs-toggle="tooltip"
            title="Der Bot merkt sich die Karten, die er aufgedeckt hat und verwendet sie, um Paare zu finden."
          >Mittel</a></li>
          <li><a 
            class="dropdown-item"
            style="text-align: center;"
            (click)="selectHard()"
            data-bs-toggle="tooltip"
            title="Der Bot merkt sich alle aufgedeckten Karten (sowohl vom Spieler als auch von ihm selbst) und verwendet sie, um Paare zu finden."
          >Schwer</a></li>
        </ul> -->
      </div>
      <button type="button" class="btn xp-btn" (click)="configurePlaythrough('PvT')">Spieler vs. Zeit</button>
    </div>
    <div class="d-grid gap-0" style="width: 100%; margin-top: 5px" *ngIf="gameService.gameStarted">
      <!-- Wenn ein Spieldurchlauf bereits gestartet wurde -->
      <button type="button" class="btn xp-btn" (click)="resumeDialog()">Spiel fortsetzen</button>
      <button type="button" class="btn xp-btn" (click)="restartDialog()">Neues Spiel starten</button>
    </div>
    <hr style="margin: 0px; padding: 4px;">
    <button type="button" class="btn xp-btn" (click)="openScoreboard()">Scoreboard</button>
  </div>
</div>