<!--
  TODO:
    - Reshape visual elements in Bootstrap card for mode "Spieler vs. Bot" to make them appear in one line for any screen size
    - Add visual elements to Bootstrap card for mode "Spieler vs. Zeit"
-->

<div class="menu-container">
  <div class="d-grid gap-2" style="width: 80%">
    <div class="d-grid gap-0" style="width: 80%">
      @if (!gameService.gameStarted) {
        <p style="text-align: center; margin-bottom: 10px;">Wähle einen Spielmodus:</p>
        <div class="row justify-content-center">
          <div class="col justify-content-center">
            <!-- Wenn noch kein Spieldurchlauf gestartet wurde -->
            <div class="card difficulty-card" (click)="configurePlaythrough('PvB')">
              <div class="card-body text-center">
                <h5 class="card-title xp-header">Spieler vs. Bot</h5>
                <div class="d-flex justify-content-center align-items-center flex-nowrap">
                  <div class="d-flex justify-content-center align-items-center px-2" style="flex: 0 0 auto;">
                    <img src="assets/icons-small/Windows_XP_Icon_User_Accounts.webp"
                         class="card-img-top"
                         alt="People Icon"
                         style="width: 100px; height: 100px; max-width: 22vw; margin: 10px">
                  </div>
                  <div class="d-flex justify-content-center align-items-center px-3" style="flex: 0 0 auto;">
                    <p>vs.</p>
                  </div>
                  <div class="d-flex justify-content-center align-items-center px-2" style="flex: 0 0 auto;">
                    <img src="assets/icons-small/Windows_XP_Clippy_Picture.webp"
                         class="card-img-top"
                         alt="Bot Icon"
                         style="width: 100px; height: 100px; max-width: 22vw; margin: 10px; border-radius: 10px">
                  </div>
                </div>
                <div class="card-text">
                  <p>Spiele gegen den Computer und versuche, die meisten Paare zu finden!</p>
                  <!--<b>Hinweis:</b>
                  <p>Bei den Schwierigkeitsgraden "Mittel" und "Schwer" kann sich der Bot - je nach Kartensatzgröße - eine jeweils unterschiedliche Anzahl an Karten merken.</p>-->
                </div>
              </div>
            </div>
          </div>
          <div class="col justify-content-center">
            <div class="card difficulty-card" (click)="configurePlaythrough('PvT')">
              <div class="card-body text-center">
                <h5 class="card-title xp-header">Spieler vs. Zeit</h5>
                  <div class="d-flex justify-content-center align-items-center flex-nowrap">
                    <div class="d-flex justify-content-center align-items-center px-2" style="flex: 0 0 auto;">
                      <img src="assets/icons-small/Windows_XP_Hourglass_Icon.webp"
                           class="card-img-top"
                           alt="People Icon"
                           style="width: 100px; height: auto; max-width: 22vw; margin: 10px">
                    </div>
                  </div>
                <div class="card-text">
                  <p>Versuche, schnellstmöglich alle Paare zu finden und den besten Rang zu erreichen!</p>
                  <!--<b>Hinweis:</b>
                  <p>Der Timer startet, sobald du die erste Karte zum Umdrehen anklickst. Des weiteren berechnet sich der Rang, den du erhältst, aus deiner benötigten Zeit
                    zum Aufdecken aller Paare sowie der deiner gewählten Kartensatzgröße.
                  </p>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      } @else if (gameService.gameStarted) {
        <div class="d-grid gap-0" style="width: 100%; margin-top: 5px">
        <!-- Wenn ein Spieldurchlauf bereits gestartet wurde -->
          <button type="button" class="btn xp-btn" (click)="resumeDialog()">Spiel fortsetzen</button>
          <button type="button" class="btn xp-btn" (click)="restartDialog()">Neues Spiel starten</button>
        </div>
      }
    <!-- <hr style="margin: 0px; padding: 4px;">
    <button type="button" class="btn xp-btn" (click)="openScoreboard()">Scoreboard</button> -->
  </div>
</div>
