.difficulty-selection {
    text-align: center;
    margin: 20px 0;
}

.card.difficulty-card {
    cursor: pointer;
    height: 156px;
}

/* .card.difficulty-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* .difficulty-easy {
    background-color: rgb(24, 185, 24);
}

.difficulty-medium {
    background-color: rgb(253, 190, 72);
}

.difficulty-hard {
    background-color: red;
} */