<div class="scoreboard">
  <div class="modal-header xp-header" style="justify-content: center;">
    <h2 style="text-align: center">Scoreboard</h2>
  </div>
  <table class="scoreboard-table">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Modus</th>
        <th>Schwierigkeitsgrad</th>
        <th>Kartensatzgröße</th>
        <th>Punkte / Rang</th>
        <th>Zeit</th>
      </tr>
    </thead>
    <tbody>
      @for (record of gameRecords; track record) {
        <tr *ngFor="let record of gameRecords">
          <td>{{ record.date }}</td>
          <td>{{ record.mode }}</td>
          <td>{{ record.difficultyLevel }}</td>
          <td>{{ record.deckSize }}</td>
          @if (record.points !== '-') {
            <td>{{ record.points }}</td>
          }
          @if (record.rank !== '-') {
            <td>{{ record.rank }}</td>
          }
          <td>{{ record.time }}</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="modal-footer xp-footer">
    <button class="btn xp-btn" (click)="closeModal()">Schließen</button>
  </div>
</div>
