
.container {
  display: grid;
  grid-template-columns: 30% 30% 30% ;
  align-items: center; 
  width: 100%;
  padding: 10px;
}
  
.item {
  justify-self: start;
  font-size: 20px;
}

.center {
  justify-self: center;
}

.icon {
  height: 40px; 
  width: 40px;
}