<div class="xp-program-dialog">
  <div class="position-relative modal-header xp-program-header">
    <div class="container">
      @if (this.gameService.gameModeGetter === 'multiplayer') {
        <h4>Spieler vs. Spieler</h4>
      } @else if (this.gameService.difficultyGetter !== 'None') {
        <h4>Spieler vs. Bot ({{this.gameService.difficultyGetter}})</h4>
      } @else if (this.gameService.difficultyGetter === 'None') {
        <h4>Spieler vs. Zeit</h4>
      }
      @if (this.gameService.gameModeGetter === 'multiplayer') {
        <div class="item">
          <b>Am Zug ist:</b>
          {{isPlayerTurn ? 'Du' : 'Gegner'}}
        </div>
      } @else if (this.gameService.difficultyGetter !== 'None' ) {
        <div class="item">
          <b>Am Zug ist:</b>
          {{isPlayerTurn ? 'Spieler' : 'Bot'}}
        </div>
      }
      @if (this.gameService.difficultyGetter === 'None') {
        <div>
          <h4>Zeit: {{time}}</h4>
        </div>
      }
    </div>

    <div class="position-absolute top-50 end-0 translate-middle-y">
      <button type="button" class="xp-program-btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    </div>
  </div>

  @if (gameService.gameModeGetter === 'multiplayer') {
    <p>Spiele gegen einen anderen Spieler und finde mehr Paare als dein Gegner!</p>
  } @else if (gameService.difficultyGetter !== 'None') {
    <p>Spiele gegen den Computer und versuche, die meisten Paare zu finden!</p>
  } @else if (this.gameService.difficultyGetter === 'None') {
    <p>Finde alle Paare so schnell wie möglich!</p>
  }

  <div class="modal-body">
    <!-- Display the Board-Component with the deck used for the game -->
    <app-board></app-board>
  </div>

  <div class="modal-footer xp-program-footer" >
    @if(gameService.gameModeGetter !== 'singleplayer_time') {
      <div class="container" >
        <b>Aufgedeckte Paare:</b>
        <div>
          {{gameService.gameModeGetter === 'multiplayer' ? 'Du' : 'Spieler'}} : {{playerPoints}}
        </div>
        <div class="center">
          {{gameService.gameModeGetter === 'multiplayer' ? 'Gegner' : 'Bot'}} : {{botPoints}}
        </div>
      </div>
    }
    <div class="d-flex justify-content-between" style=" width: 100%;">
      <div class="" >
        @if (gameService.difficultyGetter === 'None') {
          <div class="position-absolute botom-0 start-50" >
            <img [src]="currentImage" alt="" class="icon"  (click)="stopResumeTimerBtn()">
          </div>
        }
        <img style="margin-left: 100px;" src="..\assets\icons\Settings.png" alt="" class="visually-hidden icon "  (click)="closeModal()">
      </div>

      <button class="xp-program-btn " (click)="closeModal()">Schließen</button>
    </div>
  </div>
</div>