body {
    font-family: Tahoma, sans-serif;
    background-color: #e4e4e4;
}

/* Spezielle Schriftart für Header */
h1, h2, h3, h4, h5, h6 {
    font-family: Trebuchet MS, sans-serif;
}

.right {
    align-self: self-end;
    justify-self: end;
}

/* Programm-Dialog-Stil für Windows XP */
.xp-program-dialog {
    background-color: #e4e4e4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Header-Stil für Windows XP */
.xp-header {
    background-color: #d4d0c8;
    border-bottom: 1px solid #808080;
    padding: 10px;
    text-align: center;
}

/* Programm-Header-Stil für Windows XP */
.xp-program-header {
    background-color: #0f87f6;
    border-bottom: 1px solid #045bac;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Body-Stil für Windows XP */
.xp-body {
    background-color: #e4e4e4;
    padding: 20px;
}

/* Footer-Stil für Windows XP */
.xp-footer {
    background-color: #d4d0c8;
    border-top: 1px solid #808080;
    padding: 10px;
    text-align: center;
}

/* Programm-Footer-Stil für Windows XP */
.xp-program-footer {
    background-color: #0f87f6;
    border-top: 1px solid #045bac;
    padding: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

/* Button-Stil für Windows XP */
.xp-btn {
    background: linear-gradient(to bottom, #e4e4e4, #d4d0c8);
    border: 1px solid #808080;
    border-radius: 3px;
    color: #000;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.xp-btn:hover {
    background: linear-gradient(to bottom, #d4d0c8, #e4e4e4);
}

.xp-btn:active {
    background: linear-gradient(to bottom, #d4d0c8, #c0c0c0);
    border: 1px solid #404040;
}

/* Programm-Button-Stil für Windows XP */
.xp-program-btn {
    background: linear-gradient(to bottom, #0f87f6, #0f73f6);
    border: 1px solid #045bac;
    border-radius: 3px;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    /* margin: 5px; */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.xp-program-btn:hover {
    background: linear-gradient(to bottom, #0f73f6, #0f87f6);
}

.xp-program-btn:active {
    background: linear-gradient(to bottom, #0f73f6, #0e62e4);
    border: 1px solid #054785;
}

/* Close-Button-Stil für Windows XP */
.xp-btn-close {
    background: linear-gradient(to bottom, #e4e4e4, #d4d0c8);
    border: 2px solid black;
    border-radius: 3px;
    color: black;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.xp-btn-close::before, .xp-btn-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: black;
}

.xp-btn-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.xp-btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.xp-btn-close:hover {
    background-color: #a5a5a5;
}

.xp-btn-close:active {
    background-color: #8d8d8d;
}

/* Programm-Close-Button-Stil für Windows XP */
.xp-program-btn-close {
    background: linear-gradient(to bottom, #f82b2b, red);
    border: 2px solid white;
    border-radius: 3px;
    margin: 10px;
    color: white;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.xp-program-btn-close::before, .xp-program-btn-close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: white;
}

.xp-program-btn-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.xp-program-btn-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.xp-program-btn-close:hover {
    background-color: darkred;
}

.xp-program-btn-close:active {
    background-color: #a00000;
    border: 2px solid #808080;
}

/* Logo-Stil */
.app-logo {
    max-width: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

/* Styling für Bootstrap-Cards */
.card {
    background-color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.card-header {
    background-color: #d4d0c8;
    border-bottom: 1px solid #808080;
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
}

.card-body {
    color: #000;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    padding: 20px;
}

/* Styling für das Popover */
.popover {
    background-color: #f8f9fa;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
.popover-header {
background-color: #d4d0c8;
border-bottom: 1px solid #808080;
border-radius: 0;
color: #000;
font-family: Trebuchet MS;
text-align: center;
}

.popover-body {
color: #000;
font-family: Tahoma, sans-serif;
font-size: 14px;
padding: 10px;
}